body{
    background-color: blue;
    color: black;
}
h1{
    text-align: center;
}
p{
    font-weight: bold;
}
table{
    border: 2px groove rgb(0, 0, 141);
}
ul{
    color: red;
    text-align: center;
}
